/* font Montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
/* font Fraunces*/
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&display=swap');

body{
    background-color: #f3eae3;
}

h1{
    margin-left: 20px;
    font-family:'Fraunces'; 
    text-align: left;
    font-size: 55px;
    
}

.product{
    width: 380px;
    position: fixed;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-left: 329px;
}
.preciodes{
    color: #398368;
    font-weight: 800;
    font-size: 50px;
    margin-left: 20px;
    float: left;
    margin-top: 1px;
}

.desprod{
    margin-left:20px ;
    font-weight: 500;
    font-family: 'Montserrat';
    margin-top: 1px;
    text-align: left;
    font-size: 20px;
}

.precio{
    
    float: right;
    font-size: 20px;
    margin-right: 90px;
    margin-top: 15px;
    text-decoration: line-through;
}
.article{
    width: 399px;
    background-color: white;
    position: fixed;
    text-align: center;
    padding-bottom: 20px;
    margin-left: 683px;
    margin-right: 100px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    
}
button{
    font-size: 25px;
    padding-left: 30%;
    padding-right: 30%;
    border-radius: 15px;
    border-style: none;
    background-color: #398368;
    margin-top: 1px;
    margin-right: 1px;
    color: white;
    float: none;
}
